MONGO_URI=mongodb+srv://MongoDb-URL-Here

USERS_DATABASE=sample_backend_users
CONTENT_DATABASE=sample_backend_content

USERS_COLLECTION=users_collection
CONTENT_COLLECTION=content_collection

# Generate Secret Key with `openssl rand -hex 32`
BACKEND_SECRET_KEY = "ImsoooooSecretBroLikeyouDontevenKNOW"
BACKEND_ALGORITHM = "HS256"
BACKEND_ACCESS_TOKEN_EXPIRE_MINUTES = 30
BACKEND_REFRESH_TOKEN_EXPIRE_DAYS = 7
