# Database Config
MONGO_URI=mongodb+srv://MongoDb-URL-Here

USERS_DATABASE=sample_backend_users
CONTENT_DATABASE=sample_backend_content

USERS_COLLECTION=users_collection
CONTENT_COLLECTION=content_collection

# Access Token Config
BACKEND_ACCESS_TOKEN_EXPIRE_MINUTES = 30
BACKEND_REFRESH_TOKEN_EXPIRE_DAYS = 7

# Hashing Config 
BACKEND_ALGORITHM = "HS256"
BACKEND_SECRET_KEY = "ImsoooooSecretBroLikeyouDontevenKNOW" # Generate Secret Key with `openssl rand -hex 32`

# Github OAuth Config
GITHUB_CLIENT_ID=
GITHUB_SECRET_KEY=

# Logging Config
# DEBUG = 10; INFO = 20; WARNING = 30; ERROR = 40; CRITICAL = 50
LOG_LEVEL=20
LOGGER_ROOT_NAME="MyTestApp"

PAPERTRAIL_HOST=
PAPERTRAIL_PORT=
